@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Source+Serif+4:opsz,wght@8..60,200&display=swap');

body {
margin: 0;
padding: 0;
color: #1E1E2A;
}

.header-container {
height: 100vh;
width: 100vw;
background-color: #ffffff;
background-image: url(flores\ \(1\).png);  /* foto de fundo da pagina inicial*/
background-repeat: no-repeat;
background-position: center;
background-size: contain;
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
box-sizing: border-box;
padding: 0 112px;
position: relative;
}

h1 { 
    font-size: 50px;
text-transform: uppercase;
letter-spacing: 4px;
}

h2 {
    text-transform: uppercase;
    letter-spacing: 4px;
}

.social-media {
margin-top: 1rem;
display: flex;
}

/* cores do link onde vai as redes sociais*/
.social-media a {
text-decoration: none;
color: #bb1597;
padding: 1rem 4rem;
border: 1px solid #bb1597;
min-width: 4rem;
display: flex;
align-items: center;
justify-content: center;
transition: .5s ease-in-out;
}

a:hover {
    background-color: #dbb2d2; } /* cor da seleçao de opçoes do menu*/